* text=auto
*.sh text eol=lf
*.go text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
wrapper/* text eol=lf

*.wasm binary
*.gif binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.zip binary
*.gz binary
*.tgz binary
*.exe binary
